@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
	<h1>CI/CD project</h1>
	<h3><a href="https://github.com/lucamandelli/CI-CD-project/tree/main">Project's Github Repo.</a></h3>
	<p>This is only a CI/CD implementation, focused on creating a real world CI/CD structure.</p>
</div>
